
.header-content{
    width: 1000px;
    margin: 20px auto;
}
.menu-list {
    font-size: 14px;
    font-weight: bold;
    background: rgb(20, 206, 206);
    line-height: 50px;
}
.menu-list a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}